body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 92, 84);
}

h1 {
    font-size: 32px;
    margin: 10px;
    padding: 10px;
}

p {
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
}

.center {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;

    position: absolute;
    left: 50%;;
    top: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 12px solid black;
    border-radius: 50%;
    background-color: aliceblue;
}

.number {
    position: absolute;
}

.n12 {
    left: 50%;
    top: 5%;
    transform: translate(-50%);
}

.n6 {
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
}

.n3 {
    right: 5%;
    top:50%;
    transform: translate(0, -50%);
}

.n9 {
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
}

.hours {
    stroke: black;
    stroke-width: 4px;
    transform-origin: center;
}

.minutes {
    stroke: black;
    stroke-width: 2px;
    transform-origin: center;
}

.seconds {
    stroke: blue;
    transform-origin: center;
}

.delimiter {
    transform-origin: center;
}

.d1 {transform: rotate(30deg);}

.d2 {
    transform: rotate(60deg);
}

.d3 {
    transform: rotate(90deg);
}

.d4 {
    transform: rotate(120deg);
}

.d5 {
    transform: rotate(150deg);
}

.d6 {
    transform: rotate(180deg);
}

.d7 {
    transform: rotate(210deg);
}

.d8 {
    transform: rotate(240deg);
}

.d9 {
    transform: rotate(270deg);
}

.d10 {
    transform: rotate(300deg);
}

.d11 {
    transform: rotate(330deg);
}


.line {
    display: flex;
    flex-direction: row;
}

.del {
    background-color: black;
    width: 3mm;
    height: 3mm;
    margin: 0.5px;
}